org: benyaops
service: flujo-ApDbSnsSqs5-rimac

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  iam:
    role:
      statements:
        # Permisos para DynamoDB
        - Effect: Allow
          Action: ["dynamodb:PutItem"]
          Resource: "arn:aws:dynamodb:us-east-1:851725266862:table/RimacTable"
        # Permisos para SNS
        - Effect: Allow
          Action: ["sns:Publish"]
          Resource: !Ref TopicCentral

functions:
  # 1. El Productor
  consultarDynamo:
    handler: handler.consultarDynamo
    events:
      - httpApi:
          path: /registrar
          method: post
      # Ruta para consultar (GET)
      - httpApi:
          path: /consultar/{userId} # deberia ser insuredId, pero esta vez lo cambiamos a userId para que sea mas generico
          method: get
    environment:
      TOPIC_ARN: !Ref TopicCentral
      TABLE_NAME: RimacTable

  # 2. Los Workers (Consumidores)
  appointment_pe:
    handler: workers.appointment_pe
    events:
      - sqs:
          arn: !GetAtt ColaPE.Arn
    environment:
      DB_HOST: "ep-spring-hat-ajpgkw66-pooler.c-3.us-east-2.aws.neon.tech"
      DB_NAME: "neondb"
      DB_USER: "neondb_owner"
      DB_PASS: "npg_5MpucoayHAF8"

  appointment_cl:
    handler: workers.appointment_cl
    events:
      - sqs:
          arn: !GetAtt ColaCL.Arn
    environment:
      DB_HOST: "ep-spring-hat-ajpgkw66-pooler.c-3.us-east-2.aws.neon.tech"
      DB_NAME: "neondb"
      DB_USER: "neondb_owner"
      DB_PASS: "npg_5MpucoayHAF8"

resources:
  Resources:
    # SNS Topic
    TopicCentral:
      Type: AWS::SNS::Topic

    # Colas SQS
    ColaPE:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: sqs_pe5
    ColaCL:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: sqs_cl5

    # Suscripciones con Filtros
    SuscripcionPE:
      Type: AWS::SNS::Subscription
      Properties:
        Protocol: sqs
        TopicArn: !Ref TopicCentral
        Endpoint: !GetAtt ColaPE.Arn
        FilterPolicy:
          countryISO: ["pe"]

    SuscripcionCL:
      Type: AWS::SNS::Subscription
      Properties:
        Protocol: sqs
        TopicArn: !Ref TopicCentral
        Endpoint: !GetAtt ColaCL.Arn
        FilterPolicy:
          countryISO: ["cl"]

    # Suscripción de Email (Sin filtro para recibir todo)
    SuscripcionEmail:
      Type: AWS::SNS::Subscription
      Properties:
        Protocol: email
        TopicArn: !Ref TopicCentral
        Endpoint: "benyaroot@gmail.com"

    # Política para que SNS pueda hablar con SQS
    SqsPolicy:
      Type: AWS::SQS::QueuePolicy
      Properties:
        Queues: [ !Ref ColaPE, !Ref ColaCL ]
        PolicyDocument:
          Statement:
            - Effect: Allow
              Principal: "*"
              Action: "sqs:SendMessage"
              Resource: "*"
              Condition:
                ArnEquals:
                  aws:SourceArn: !Ref TopicCentral
