org: benyaops
service: reto-rimac-filtrado

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  iam:
    role:
      statements:
        - Effect: Allow
          Action: ["sns:Publish"]
          Resource: !Ref TopicMultipais

functions:
  publicador:
    handler: handler.publicador
    events:
      - httpApi:
          path: /registrar
          method: post
    environment:
      TOPIC_ARN: !Ref TopicMultipais
  
  appointment_pe:
    handler: handler_pe.appointmentPE
    events:
      - sqs:
          arn: !GetAtt ColaPE.Arn
          batchSize: 1 # Procesamos de 1 en 1 para este ejemplo
    environment:
      DB_HOST: "tu-host-mysql-pe.com"
      DB_USER: "admin"
      DB_PASS: "password123"
      DB_NAME: "rimac_peru"

  appointment_cl:
    handler: handler_cl.appointmentCL
    events:
      - sqs:
          arn: !GetAtt ColaCL.Arn
          batchSize: 1
    environment:
      DB_HOST: "tu-host-mysql-cl.com"
      DB_USER: "admin"
      DB_PASS: "password123"
      DB_NAME: "rimac_chile"

resources:
  Resources:
    # 1. El Topic
    TopicMultipais:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: TopicMultipaisRimac

    # 2. Las Colas
    ColaPE:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: sqs_pe

    ColaCL:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: sqs_cl

    # 3. LAS SUSCRIPCIONES CON FILTRO (La clave del reto)
    SuscripcionPE:
      Type: AWS::SNS::Subscription
      Properties:
        Protocol: sqs
        TopicArn: !Ref TopicMultipais
        Endpoint: !GetAtt ColaPE.Arn
        # AQUÍ ESTÁ EL FILTRO:
        FilterPolicy:
          countryISO: ["pe"]

    SuscripcionCL:
      Type: AWS::SNS::Subscription
      Properties:
        Protocol: sqs
        TopicArn: !Ref TopicMultipais
        Endpoint: !GetAtt ColaCL.Arn
        FilterPolicy:
          countryISO: ["cl"]

    # Suscripción de Email (Sin filtro para recibir todo)
    SuscripcionEmail:
      Type: AWS::SNS::Subscription
      Properties:
        Protocol: email
        TopicArn: !Ref TopicMultipais
        Endpoint: "benyaroot@gmail.com"

    # Permisos para que SNS pueda escribir en ambas colas (Importante)
    SqsPolicy:
      Type: AWS::SQS::QueuePolicy
      Properties:
        Queues: [ !Ref ColaPE, !Ref ColaCL ]
        PolicyDocument:
          Statement:
            - Effect: Allow
              Principal: "*"
              Action: "sqs:SendMessage"
              Resource: "*"
              Condition:
                ArnEquals:
                  aws:SourceArn: !Ref TopicMultipais